[submodule "server"]
	path = server
	url = git@github.com:co0ontty/yolo-server.git
[submodule "cli"]
	path = cli
	url = git@github.com:co0ontty/yolo-cli.git
[submodule "web"]
	path = web
	url = git@github.com:co0ontty/yolo-fronted.git
